<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <title>List</title>
</head>

<body>
    <div class="main-navbar-container">
        <span class="nav-brand">Shubham</span>
        <ul class="main-navbar">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/audio">Audio</a></li>
            <li class="nav-item"><a href="/video">Video</a></li>
            <li class="nav-item"><a href="/list">List</a></li>
            <li class="nav-item"><a href="/table">Table</a></li>
            <li class="nav-item"><a href="/storefront">Store</a></li>
        </ul>
    </div>
    <section class="page">
        <h1> Welcome to my website </h1>
        <p> I will be demonstrating HTML5 principles and techniques using ordered and unordered lists
        </p>
        <h2>About Me</h2>
        <p>
            Name: Shubham, Student ID: 128343217, Program: CPP
        <h2>Healthy Food</h2>
        <ul class="list">
            <li>Apple</li>
            <li>
                Orange
                <ol class="sublist">
                    <li>Calories in orange: 45</li>
                    <li>Fiber in orange: 3 grams</li>
                    <li>Sugar in orange: 12 grams</li>
                    <li>Protein in orange: 1 gram</li>
                </ol>
            </li>
            <li>Carrot</li>
            <li>Broccoli</li>
            <li>Spinach</li>
        </ul>
    </section>
</body>

</html>