<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <title>Table</title>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="main-navbar-container">
        <span class="nav-brand">Shubham</span>
        <ul class="main-navbar">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/audio">Audio</a></li>
            <li class="nav-item"><a href="/video">Video</a></li>
            <li class="nav-item"><a href="/list">List</a></li>
            <li class="nav-item"><a href="/table">Table</a></li>
            <li class="nav-item"><a href="/storefront">Store</a></li>
        </ul>
    </div>
    <section class="page">
        <h1>HTML Tables</h1>
        <p>I will be using my knowledge of HTML Tables to demonstrate tables</p>
        <h2>My Favorite Books</h2>
        <table>
            <caption>My Favorite Books</caption>
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Harry Potter</td>
                    <td>J.K. Rowling</td>
                    <td>Fantasy</td>
                </tr>
                <tr>
                    <td>Lord of the Rings</td>
                    <td>J.R.R. Tolkien</td>
                    <td>Fantasy</td>
                </tr>
                <tr>
                    <td>1984</td>
                    <td>George Orwell</td>
                    <td>Dystopian</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">These are my favorite books</td>
                </tr>
            </tfoot>
        </table>
        <h2>My Favorite Movies</h2>
        <table>
            <caption>My Favorite Movies</caption>
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Director</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Interstellar</td>
                    <td rowspan="2">Christopher Nolan</td>
                    <td>Sci-Fi</td>
                </tr>
                <tr>
                    <td>Inception</td>
                    <td>Action/Sci-fi</td>
                </tr>
                <tr>
                    <td>The Shawshank Redemption</td>
                    <td>Frank Darabont</td>
                    <td>Drama/Crime</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">These are my favorite movies</td>
                </tr>
            </tfoot>
        </table>
    </section>
</body>

</html>